* {
  margin: 0px;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background: lightblue;
}
#root {
  width: 100%;
  height: 100%;
}
.listTwo {
  list-style: none;
}
.buyList {
  list-style: none;
}
.boughtList {
  list-style: none;
}
.buyBox {
  border: solid black 20%;
}
.boughtBox {
  border: solid black;
  width: 25%;
}